/*nav bar*/
table.navbar {
    position: fixed;
    margin: 0px 0px;
    top: 0em;
    padding: 0;
    width: 100%;
}

.navbar th.navitm {
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    width: 3%;
}

.navbar th.navblank {
    width: 1%;
}

.navbar th.navitm a:hover {
    background: #333333;
}

.navbar th.navitm a {
    text-decoration: none;
    display: block;
    margin: 0px 0px;
    padding: 0px 15px;
}

.navbar th.navitm div.second {
    text-align: left;
    position: absolute;
    margin: 0;
    padding: 0;
    display: none;
    float:right;
}