
#post-list {
    /*margin: 0px 0px;*/
    padding: 0px 0px;
}

hr.title_line {
    height: 5px;
    border: none;
    border-top: 3px ridge green;
    align: center;
    /*width: 300;*/
}

hr.article_line {
    align: center;
    height: 1px;
    border: none;
    border-top: 1px dashed #C7EDCC;
}

article {
    /*opacity: 0.2;*/
    /*background-color:rgba(0,0,0,0.2);*/
    /*background-color: #C7EDCC;*/
    min-height: 1000px;
    width: 100%;
    font-size: 120%;
    overflow-x: auto;
    wrap: hard;
}