body {
    /*background:
      url('/assets/images/bg7.jpg');*/
    /*background-color: #C7EDCC;*/
    background-color: #000000;
    /*background-size: cover;*/
    background-size: repeat;
    /*color: #000000;*/
    color: #00FF00;
    font-family:
        Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    height: 100%;
    line-height: 27px;
}

table.container {
    table-layout:fixed;
    /*height: 100%;*/
    width: 100%;
    min-height: 1000px;
    position: relative;
/*    margin: 0px 0px;*/
    padding: 0px 15px;
}
table.tr_page_content {
    valign:top;
}

#th_navbar {
padding:0;
}

#td_page_header{
    align: center;
}

#td_posts {
    border-style: solid;
    border-width: 2px;
    border-color: #006400;
    valign: top;
}

#td_category_list {
    /*valign: top; no use?*/
    /*TODO How to display when windows is small?*/
    border-style: solid;
    border-width: 2px;
    border-color:#006400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#td_tag_list{
    /*valign: top; no use?*/
    border-style: solid;
    border-width: 2px;
    border-color: #006400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#td_page_footer{
    align= center;
}

header {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.header1{
    text-align: center;
}

aside {
    width: 100%;
    font-size: 100%;
    /*valign: top;*/
}

#categories_ul{
    margin: 0px 0px;
    padding: 0px 0px;
    background: #000000;
    /*border-style:hidden;*/
}

#categories_ul li {
float:left;
clear:right;
}

#categories_ul li span{
/*    margin: 0px 0px;*/
/*    padding: 0px 0px;*/
}

span.tree_switch{
    font-size: 130%;
}

#categories_ul li a{
    border-style:dotted;
    border-width:1px;
    /*border-right:0px;*/
    border-top:0px;
    border-color: #00FF00;
/*    margin: 0px 0px;
    padding: 0px 0px;
*/
}

#categories_ul li ul{
/*    margin: 0px 15px;
    padding: 0px 0px;*/
    background: #000000;
}


/*
#left-side {
}

#right-side {
}
*/

.categories_item_tree li ul {
    /*type: none; no use?*/
    height:90%;
}

ul.tag_ul {
    height:90%;
}

hr {
    color: 987cb9;
}

#title_line{
    height:5px;
    border:none;
    border-top:3px ridge green;
    align: center;
    /*width: 300;*/
}

#article_line{
    align: center;
    height:1px;
    border:none;
    border-top:1px dashed #C7EDCC;
}

article {
    /*opacity: 0.2;*/
    /*background-color:rgba(0,0,0,0.2);*/
    /*background-color: #C7EDCC;*/
    min-height: 1000px;
    width: 100%;
    font-size: 120%;
    overflow-x: auto;
    wrap:hard;
}

textarea {
    overflow-x: auto; 
}

footer {
    height: 20px;
    width: 100%;
    clear: both;
    text-align: center;
}

a {
  color: #C7EDCC;
  text-decoration: none;
}

img {
    max-width:100%;
    height:auto;
}

/*nav bar*/
table.navbar {
    position:fixed;
    margin:0px 0px;
    top:0em;
    padding:0;
    width:100%;
}

.navbar th.navitm {
    border-style:solid;
    border-width:1px;
    border-top:0px;
    width:3%;
}

.navbar th.navblank {
    width:1%;
}

.navbar th.navitm a:hover {
    background:#333333;
}

.navbar th.navitm a {
    text-decoration:none; 
    display:block; 
    margin:0px 0px; 
    padding:0px 15px;
}

.navbar th.navitm div.second {
    float:left;
    position:absolute;
    margin:0;
    padding:0;
    display:none;
}

.navbar th.navitm div.second a{
    border-style:dotted;
    border-color:#00FF00;
    border-width:1px;
    border-right:0px;
    border-top:0px;
    border-left:0px;
    text-align: left;
}

#topbtn {
    color:#00FF00;
    border-style:solid;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    float:right;
    width:12px;
    position:fixed; 
    right:3px;
    top:0em;
}
