/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("urn:not-loaded:http://ask.csdn.net/assets/fontawesome-webfont-d8970a29b6bda4953188db1bf11caa77.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("urn:not-loaded:http://ask.csdn.net/assets/fontawesome-webfont-b6eacf39cdd874409fca9bbfa0fd5524.woff?v=3.2.1") format("woff"), url("urn:not-loaded:http://ask.csdn.net/assets/fontawesome-webfont-e6510d64f0dee7530f4c35b4eccbe2eb.ttf?v=3.2.1") format("truetype"), url("urn:not-loaded:http://ask.csdn.net/assets/fontawesome-webfont-4bb899176c47fb8cc6662a8929eebc8a.svg#fontawesomeregular?v=3.2.1") format("svg");
}
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; }
[class^="icon-"]:before, [class*=" icon-"]:before { text-decoration: inherit; display: inline-block; }
.icon-bold:before { content: ""; }
.icon-italic:before { content: ""; }
.icon-quote-left:before { content: ""; }
.icon-list-ul:before { content: ""; }
.icon-list-ol:before { content: ""; }
.icon-link:before { content: ""; }
.icon-picture:before { content: ""; }
.icon-reply:before { content: ""; }
.icon-share-alt:before { content: ""; }
.icon-preview:before { content: ""; }
