@charset "utf-8";
/* Effective stylesheet produced by snapshot save */
.commentform {  }
.commentform ul { clear: both; margin: 0px 20px 5px; font: 12px/24px Arial,Helvetica,sans-serif; }
.commentform .left { float: left; display: block; width: 80px; }
.commentform .right { display: block; margin-left: 90px; }
.commentform textarea { padding: 5px; border: 1px solid rgb(221, 221, 221); color: rgb(85, 85, 85); font: 14px/24px Arial,Helvetica,sans-serif; }
#lang_list { width: 388px; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); font-size: 12px; }
#lang_list a { display: inline-block; cursor: pointer; border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); padding: 0px 5px; text-align: center; float: left; }
#lang_list a:hover { background-color: rgb(102, 102, 102); color: rgb(255, 255, 255); }
.long_name { width: 70px; }
.duan_name { width: 25px; }
.zhong_name { width: 48px; }
