<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <!--link rel="stylesheet" type="text/css"
      href="/assets/css/straybirds.css" media="screen" /-->
    <!--link rel="stylesheet" type="text/css"
      href="/assets/css/pygments.css" media="screen" /-->
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="container">
          <h1>
              <a href="/" title="Home Page"> QuietHeart </a>
          <!--span class="github-src">
            <a href ="https://github.com/minixalpha/minixalpha.github.io"
               target="_blank"
               title="Fork me on GitHub">
              <img src="/assets/images/GitHub-Mark-Light-32px.png" alt="">
            </a>
          </span-->
          </h1>
        </div>
      </header>

      <!--aside id="left-side">
        {% include categories.ext %}
      </aside-->

      <!--aside id="right-side">
        {% include archives.ext %}
      </aside-->

      <article>

{{ content }}

      </article>

      <!--div class="comments">
        {% if page.comments %}
          {% include comments.ext %}
        {% endif %}
      </div-->


      <footer>
        Copyright (c) quietheart 2015
      </footer>

    </div>
  </body>
</html>
