<!DOCTYPE html>
<html>
  <head>
    {% include common_header.ext %}
    <link rel="stylesheet" type="text/css"
      href="/assets/css/home.css" media="screen" />
  </head>

  <body>
        <table class="container">
            <tbody>
	      <tr>
		{% include navbar.ext %}
	      </tr>
	      <tr>
                  {% include common_page_header.ext %}
	      </tr>
               <tr id="tr_page_content">
                     <td id="td_posts" colspan="6" valign="top">{% include home_posts.ext %}</td>
                 </tr>
                <tr>
                    <td id="td_page_footer" colspan="6">{% include common_footer.ext %}</td>
                </tr>
            </tbody>
        </table>
  </body>
</html>
