<!DOCTYPE html>
<html>
  <head>
    {% include common_header.ext %}
    <link rel="stylesheet" type="text/css"
      href="/assets/css/posts.css" media="screen" />
  </head>

   <body onload="change_categories('{{ page.categories |join:"_" }}')">
     <table class="container">
        <tbody>
	      <tr>
		{% include navbar.ext %}
	      </tr>
	      <tr>
                  {% include common_page_header.ext %}
	      </tr>
             <tr>
                <!--td id="td_category_list"  colspan="1" valign="top">{% include category_list.ext %}</td-->
                <td id="td_posts" colspan="6" valign="top">{% include post_content.ext %}</td>
             </tr>
            <tr>
                <td id="td_page_footer" colspan="6">{% include common_footer.ext %}</td>
            </tr>
        </tbody>
    </table>
  </body>
</html>
