<!DOCTYPE html>
<html>
  <head>
    {% include common_header.ext %}
    <link rel="stylesheet" type="text/css"
      href="/assets/css/home.css" media="screen" />
  </head>

  <body>
        <table class="container">
            <tbody>
                <tr>
                    <th id="td_page_header" colspan="6">{% include common_page_header.ext %}</td>
                </tr>
                <tr id="tr_page_content">
                    <td id="td_category_list"  colspan="1" valign="top">{% include category_list.ext %}</td>
                    <td id="td_posts" colspan="5" valign="top">{% include home_posts.ext %}</td>
                    <!--td id="td_tag_list" colspan="1" valign="top">{% include tag_list.ext %}</td-->
                </tr>
                <tr>
                    <td id="td_page_footer" colspan="6">{% include common_footer.ext %}</td>
                </tr>
            </tbody>
            site page: {{site.data.categories.study["name"]}}
        </table>
         ◤ ◥ ◄ ► ▶ ◀ ◣ ◢ ▲ ▼ ▸ ◂ ▴ ▾ △ ▽ ▷ ◁ ⊿ ▻ ◅ ▵ ▿ ▹
  </body>
</html>
