/* Effective stylesheet produced by snapshot save */
.gt_holder.popup .gt_popup_wrap, .gt_holder.popup .gt_popup_cross, .gt_holder .gt_holder_top, .gt_holder .gt_box_tips, .gt_holder.en .gt_box_tips, .gt_holder .gt_curtain_button, .gt_holder .gt_curtain_button.moving, .gt_holder .gt_curtain_button.success, .gt_holder .gt_curtain_button.fail, .gt_holder .gt_flash, .gt_holder .gt_ie_success, .gt_holder .gt_loading, .gt_holder.en .gt_loading, .gt_holder .gt_info, .gt_holder .gt_info .success .gt_info_icon, .gt_holder .gt_info .fail .gt_info_icon, .gt_holder .gt_info .abuse .gt_info_icon, .gt_holder .gt_info .forbidden .gt_info_icon, .gt_holder .gt_info .error .gt_info_icon, .gt_holder .gt_bottom, .gt_holder.en .gt_bottom, .gt_holder .gt_refresh_button, .gt_holder .gt_refresh_button:hover, .gt_holder .gt_refresh_button .gt_refresh_tips, .gt_holder .gt_help_button, .gt_holder .gt_help_button:hover, .gt_holder .gt_help_button .gt_help_tips, .gt_holder .gt_ajax_tip, .gt_holder .gt_ajax_tip.success, .gt_holder .gt_ajax_tip.lock, .gt_holder .gt_ajax_tip.ready, .gt_holder .gt_ajax_tip.fail, .gt_holder .gt_ajax_tip.forbidden, .gt_holder .gt_ajax_tip.error, .gt_holder .gt_slider, .gt_holder .gt_slider_knob, .gt_holder .gt_slider_knob.moving, .gt_holder .gt_curtain_knob { background-repeat: no-repeat; background-image: url("sprite.3.0.20.png"); }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder.popup .gt_popup_wrap, .gt_holder.popup .gt_popup_cross, .gt_holder .gt_holder_top, .gt_holder .gt_box_tips, .gt_holder.en .gt_box_tips, .gt_holder .gt_curtain_button, .gt_holder .gt_curtain_button.moving, .gt_holder .gt_curtain_button.success, .gt_holder .gt_curtain_button.fail, .gt_holder .gt_flash, .gt_holder .gt_ie_success, .gt_holder .gt_loading, .gt_holder.en .gt_loading, .gt_holder .gt_info, .gt_holder .gt_info .success .gt_info_icon, .gt_holder .gt_info .fail .gt_info_icon, .gt_holder .gt_info .abuse .gt_info_icon, .gt_holder .gt_info .forbidden .gt_info_icon, .gt_holder .gt_info .error .gt_info_icon, .gt_holder .gt_bottom, .gt_holder.en .gt_bottom, .gt_holder .gt_refresh_button, .gt_holder .gt_refresh_button:hover, .gt_holder .gt_refresh_button .gt_refresh_tips, .gt_holder .gt_help_button, .gt_holder .gt_help_button:hover, .gt_holder .gt_help_button .gt_help_tips, .gt_holder .gt_ajax_tip, .gt_holder .gt_ajax_tip.success, .gt_holder .gt_ajax_tip.lock, .gt_holder .gt_ajax_tip.ready, .gt_holder .gt_ajax_tip.fail, .gt_holder .gt_ajax_tip.forbidden, .gt_holder .gt_ajax_tip.error, .gt_holder .gt_slider, .gt_holder .gt_slider_knob, .gt_holder .gt_slider_knob.moving, .gt_holder .gt_curtain_knob { background-image: url("urn:not-loaded:http://static.geetest.com/static/golden/sprite2x.3.0.20.png"); background-size: 354px auto; }
}
.gt_box_holder, .gt_box, .gt_holder {  }
.gt_holder { overflow: visible; position: relative; letter-spacing: 0px ! important; }
.gt_holder.gt_clone { position: absolute ! important; }
.gt_holder.gt_clone .gt_widget { position: relative; left: 0px; top: 0px; }
.gt_holder a { text-decoration: none; background-color: transparent ! important; }
.gt_holder.float { width: 261px; }
.gt_holder.float .gt_slider { left: 0px; }
.gt_holder.float .gt_widget { position: absolute; left: 0px ! important; margin-left: -15px; bottom: 28px; display: none; opacity: 0; }
.gt_holder.float .gt_widget.gt_hide { display: none; opacity: 0; }
.gt_holder .gt_holder_top { height: 14px; width: 290px; background-position: 0px -1366px; position: relative; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_holder_top { background-position: 0px -1366px; }
}
.gt_holder .gt_box_holder { width: 260px; height: 116px; padding: 0px 15px 2px 13px; position: relative; background-color: rgb(242, 236, 225); border-left: 1px solid rgb(228, 221, 209); border-right: 1px solid rgb(228, 221, 209); }
.gt_holder .gt_box { border: 1px solid rgb(226, 215, 199); height: 100%; width: 260px; overflow: hidden; background-color: rgb(252, 251, 248); text-align: center; position: relative; }
.gt_holder .gt_box:hover .gt_box_tips { display: block; }
.gt_holder .gt_box_tips { height: 16px; width: 73px; background-position: 0px -846px; display: none; position: absolute; right: 0px; bottom: 0px; opacity: 0.7; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_box_tips { background-position: 0px -846px; }
}
.gt_holder a.gt_bg { position: absolute; display: inline-block; width: 100%; height: 100%; left: 0px; top: 0px; margin: 0px ! important; }
.gt_holder a.gt_bg.gt_show { opacity: 1; }
.gt_holder .gt_slice { position: absolute; display: inline-block; left: 0px; background-repeat: no-repeat; width: 60px; height: 60px; }
.gt_holder .gt_slice.gt_show { opacity: 1; }
.gt_holder a.gt_fullbg { position: absolute; display: block; width: 260px; height: 100%; left: 0px; top: 0px; margin: 0px ! important; }
.gt_holder a.gt_fullbg.gt_show { opacity: 1; }
.gt_holder .gt_cut_fullbg, .gt_holder .gt_cut_bg, .gt_holder .gt_cut_curtain { height: 100%; }
.gt_holder .gt_cut_fullbg_slice, .gt_holder .gt_cut_bg_slice, .gt_holder .gt_cut_curtain_slice { float: left; width: 10px; height: 50%; margin: 0px ! important; }
.gt_holder a.gt_curtain { position: absolute; height: 100%; width: 100%; margin: 0px ! important; left: 0px; visibility: hidden; transform: translate(100%, 0px); display: inline-block; }
.gt_holder .gt_curtain_bg_wrap { overflow: hidden; position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; display: inline-block; }
.gt_holder .gt_curtain_bg, .gt_holder .gt_cut_curtain { position: absolute; right: 0px; top: 0px; height: 100%; width: 260px; display: inline-block; }
.gt_holder .gt_cut_curtain { left: 0px ! important; }
.gt_holder .gt_curtain_button { position: absolute; display: inline-block; margin-top: -22px; margin-left: -22px; cursor: pointer; opacity: 0; height: 44px; width: 44px; background-position: 0px -84px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_curtain_button { background-position: 0px -84px; }
}
.gt_holder .gt_curtain_button.gt_hide { opacity: 0; }
.gt_holder .gt_flash { height: 116px; width: 272px; background-position: 0px -440px; position: absolute; left: 100%; top: 0px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_flash { background-position: 0px -440px; }
}
.gt_holder .gt_ie_success { width: 64px; background-position: 0px -610px; display: none; position: absolute; left: 196px; top: 0px; height: 64px ! important; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_ie_success { background-position: 0px -610px; }
}
.gt_holder .gt_loading { height: 62px; width: 130px; background-position: 0px -696px; position: absolute; top: 50%; left: 50%; margin-top: -30px; margin-left: -60px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_loading { background-position: 0px -696px; }
}
.gt_holder .gt_info { width: 260px; background-position: 0px -674px; height: 0px; overflow: hidden; position: absolute; bottom: 1px; margin-left: 1px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_info { background-position: 0px -674px; }
}
.gt_holder .gt_info .gt_info_icon { width: 26px ! important; float: left; }
.gt_holder .gt_info .gt_info_tip { font-size: 12px ! important; line-height: 22px ! important; font-family: Helvetica,SimSun,monospace ! important; margin: 0px auto; position: relative; }
.gt_holder .gt_info .gt_info_text { text-align: left ! important; color: rgb(75, 63, 51); }
.gt_holder .gt_bottom { height: 28px; width: 290px; background-position: 0px -56px; line-height: 14px ! important; position: relative; text-align: left; overflow: visible; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_bottom { background-position: 0px -56px; }
}
.gt_holder .gt_bottom a { overflow: visible; display: inline-block; vertical-align: bottom; cursor: pointer; margin-right: 16px ! important; }
.gt_holder .gt_refresh_button { background-color: rgb(241, 233, 222); margin: 6px 0px 0px 18px ! important; height: 14px; width: 14px; background-position: 0px -1204px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_refresh_button { background-position: 0px -1204px; }
}
.gt_holder .gt_refresh_button:hover { height: 14px; width: 14px; background-position: 0px -1218px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_refresh_button:hover { background-position: 0px -1218px; }
}
.gt_holder .gt_refresh_button:hover .gt_refresh_tips { display: block; }
.gt_holder .gt_refresh_button .gt_refresh_tips { display: none; height: 24px; width: 58px; background-position: 0px -1342px; position: relative; left: -10px; top: -28px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_refresh_button .gt_refresh_tips { background-position: 0px -1342px; }
}
.gt_holder .gt_help_button { background-color: rgb(241, 233, 222); position: relative; height: 14px; width: 14px; background-position: 0px -582px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_help_button { background-position: 0px -582px; }
}
.gt_holder .gt_help_button:hover { height: 14px; width: 14px; background-position: 0px -596px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_help_button:hover { background-position: 0px -596px; }
}
.gt_holder .gt_help_button:hover .gt_help_tips { display: block; }
.gt_holder .gt_help_button .gt_help_tips { display: none; height: 24px; width: 58px; background-position: 0px -1342px; position: absolute; left: -10px; top: -28px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_help_button .gt_help_tips { background-position: 0px -1342px; }
}
.gt_holder .gt_refresh_tips, .gt_holder .gt_help_button { text-align: center ! important; color: white ! important; font: 12px/20px Helvetica,SimSun,monospace ! important; }
.gt_holder .gt_logo_button { width: 65px; height: 16px; position: absolute; right: 0px; top: 6px; background-color: transparent; }
.gt_holder .gt_ajax_tip { height: 26px; width: 26px; background-position: 0px -1178px; position: absolute; right: -35px; top: 2px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_ajax_tip { background-position: 0px -1178px; }
}
.gt_holder .gt_ajax_tip.ready { height: 26px; width: 26px; background-position: 0px -1178px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_ajax_tip.ready { background-position: 0px -1178px; }
}
.gt_holder .gt_slider { height: 28px; width: 261px; background-position: 0px 0px; position: relative; left: 15px; overflow: visible; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_slider { background-position: 0px 0px; }
}
.gt_holder .gt_slider_knob { height: 44px; width: 44px; background-position: 0px -84px; cursor: pointer; display: block; position: absolute; left: 6px; top: -9px; box-shadow: none; border-radius: 13px; z-index: 399; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_slider_knob { background-position: 0px -84px; }
}
.gt_holder .gt_guide_tip { cursor: default; position: absolute; left: 56px; font-family: Helvetica,SimSun,monospace ! important; font-size: 12px ! important; color: rgb(72, 108, 128); opacity: 1; height: 28px; line-height: 28px ! important; text-align: center; width: 190px; }
.gt_holder .gt_curtain_knob { height: 28px; width: 260px; background-position: 0px -360px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
  .gt_holder .gt_curtain_knob { background-position: 0px -360px; }
}
.gt_holder .gt_curtain_tip, .gt_holder .gt_curtain_knob { cursor: default; position: absolute; left: 0px; width: 100%; text-align: center; font-family: SimSun,monospace ! important; font-size: 12px ! important; color: rgb(182, 169, 152); opacity: 1; height: 28px; line-height: 28px ! important; }
.gt_holder .gt_curtain_tip.gt_hide, .gt_holder .gt_curtain_knob.gt_hide { opacity: 0; visibility: hidden; }
.gt_holder .gt_input { display: none; }
