/* Effective stylesheet produced by snapshot save */
.jiathis_style_32x32 .jtico { text-align: left; overflow: hidden; display: block ! important; height: 32px ! important; line-height: 32px ! important; padding-left: 36px ! important; background: url("jiathis_ico_32x32.png") no-repeat scroll left center transparent; cursor: pointer; }
.jiathis_style_32x32 .jtico:hover { opacity: 0.8; }
.jiathis_style_32x32 .jiathis_txt { float: left; font-size: 22px; text-decoration: none; line-height: 32px ! important; }
.jiathis_style_32x32 .jtico_tsina { background-position: 0px 0px; }
.jiathis_style_32x32 .jtico_douban { background-position: 0px -224px; }
.jiathis_style_32x32 .jtico_evernote { background-position: 0px -1504px; }
.jiathis_style_32x32 .jtico_jiathis { background-position: 0px -2048px; }
.jiathis_style_32x32 .jtico_copy { background-position: 0px -3296px; }
.jiathis_style_32x32 .jtico_weixin { background-position: 0px -3680px; }
