/* Effective stylesheet produced by snapshot save */
.jiathis_style_32x32 a:hover { text-decoration: none; }
.jiathis_style_32x32 .jiathis_counter.jiathis_bubble_style { background: url("counter.gif") no-repeat scroll 0px 0px transparent; height: 32px; width: 54px ! important; line-height: 32px; padding: 0px 5px 0px 6px; font-family: arial,helvetica,sans-serif; text-align: center; }
.jiathis_style_32x32 .jiathis_counter.jiathis_bubble_style:hover { color: rgb(0, 0, 0); background-position: 0px -32px ! important; }
.jiathis_style_32x32 .jiathis_button_expanded { float: left; font-size: 16px; font-weight: bold; color: rgb(86, 86, 86); cursor: pointer; text-decoration: none; line-height: 32px ! important; }
