/* Effective stylesheet produced by snapshot save */
.face_tp::after { width: 100%; height: 0px; clear: both; content: ""; overflow: hidden; display: block; visibility: hidden; }
.face_mg::after { width: 100%; height: 0px; clear: both; content: ""; overflow: hidden; display: block; visibility: hidden; }
